@page
@model Inlämning_Asp.Pages.LoginModel
@{
}

<h1>
    You Are Not a Member?
    Do Not Worry You Can Register Here!
    <a asp-page="/User/Register" type="button" class="btn btn-outline-primary">Register</a>
    Or Log In =>
</h1>

<h2>Log in</h2>
<form method="post">
    <input asp-for="LoginUser.UserName" />
    <input asp-for="LoginUser.Password" />
    <input type="submit" />
</form>
