@page
@model Inlämning_Asp.Pages.RegisterModel
@{
}

<h2>Register</h2>
<form method="post">
    <input asp-for="NewUser.UserName" />
    <input asp-for="NewUser.Password" />
    <input type="submit" />
</form>