
@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@using Inlämning_Asp.Models
@inject SignInManager<Buyer> SignInManager
@inject UserManager<Buyer> UserManager
@{ ViewData["Title"] = "Home"; }

<div class="text-center">
    @if (User.IsInRole("Organizer"))
    {
    <h1 class="display-4">
        Welcome! Dear @User.Identity.Name
        You are an Organizer!

        <button> <a asp-page="/Add_Event">Add Event</a></button>
        <button> <a asp-page="/Delete_Events">Delete Event</a></button>

    </h1> }
    else if (User.IsInRole("Admin"))
    {
        <a asp-page="/Admin/ManageUsers">Admin</a>
        <h1 class="display-4">Welcome @User.Identity.Name! Yo Admin!!</h1> }
    else
    {
<h1 class="display-4">Welcome @User.Identity.Name <a asp-page="/Events">Dear Visitor</a></h1>
    } 

    <h2>The Best Event Provider in The World</h2>
    <img src="~/142380.jpg" />
    <div class="btn-group">
       
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-page="/User/Logout" type="button" class="btn btn-outline-primary">Log Out</a> }
        else
        {
            <a asp-page="/User/Login" type="button" class="btn btn-outline-primary">Log In</a>}
    </div>
</div>
